Options +FollowSymLinks -Indexes
RewriteEngine On

RewriteCond %{REQUEST_URI} ^/contacts.html
RewriteRule ^ /contatti [R=301,L]

RewriteCond %{REQUEST_URI} ^/contact/?$
RewriteRule ^(.*)$ /contacts.html [L,QSA,END]